{{> hero-short}}
<section id="add">
    <div class="form-group">
        <h4>Post a job</h4>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="/jobs/add" method="POST">
            <label for="jobtitle">Job Title <input type="text" id="title" name="title" placeholder="[ex. Front-End Developer, Senior Full Stack Developer]" value="{{title}}"></label>
            <label for="company">Company <input type="text" id="company" name="company" placeholder="[ex. Mindera]" value="{{company}}"></label>
            <label for="description">Job Description <textarea id="description" name="description" placeholder="[Add Description]" value={{ description }}></textarea></label>
            <label for="about">About Employer <textarea id="about_company" name="about_company" placeholder="[Add About Employer]">{{ about_company }}</textarea>
            <label for="company_logo">Company Logo <input type="file" id="company_logo" name="company_logo"></label>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>