<section id="jobs">
	{{> search }}
	{{#each jobs}}
	<div class="job">
		<div class="company-logo">
			<img src="/img/{{id}}.{{company_logo_ext}}" class="company-logo-img" alt="Mindera - Front-End Web Developer" />
		</div>
		<div class="job-content-right">
			<h3><a class="job-content-title" href="/jobs/{{ id }}/{{ title }}">{{ title }}</a></h3>
			{{!-- <p>{{ description }}</p> --}}
			{{!-- <ul>
                {{!-- <li>Budget: {{ budget }}</li> --}}
			{{!-- <li><a href="/job/:id" class="btn btn-reverse">View Job</a></li> --}}
			{{!-- </ul> --}}
			<div class="description-text">
				<small><i class="fas fa-building"></i> <span class="description-text-item">{{ company }} </span> <i
						class="fas fa-clock"></i> <span class="description-text-item">Posted
						{{ fromNow createdAt }}</span> <i class="fas fa-tag"></i> <span class="description-text-item">
						{{{ tags }}}</span></small>
			</div>

		</div>
		<div class="job-content-right-btn">
			<a href="/jobs/{{ id }}/{{ title }}" class="btn">View Job</a>
		</div>
	</div>
	{{ else }}
	<p>No Jobs Available. Please check back later.</p>
	{{/each}}
	</div>
</section>
    <script src="../js/search.js" type="module"></script>
